@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: rgb(232, 232, 232);
  font-family: "Roboto", sans-serif;
}